/* card  */
.card-group {
    margin-bottom: 100px;
}

.card-img-text {
    margin-top: 170px;
    margin-left: -10px;
    width: 320px;
}

.card-img-text h6 {
    font-size: 1.4rem;
}

.card-body .btn {
    text-transform: uppercase;
}

.card-body span {
    font-weight: 600 !important;
}

.card-header {
    margin-left: -20px;
}

.card-header a {
    font-size: 12px;
}

.card-header p {
    font-size: 12px;
}